<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--<bean id="myDAOImpl" 
		class="com.epam.testapp.dao.DAOFactory"/>
	
	 <bean id="myUserDAOImpl" 
		class="by.epam.library.dao.impl.UserDAOImpl"/> -->	
	<bean id="myDAOImpl"
			class="com.epam.testapp.dao.DAOFactory">
			<property name="DAOImpl" ref="myDAOImpl" />
			<!-- <property name="UserDAO" ref="myUserDAOImpl" /> -->			
	</bean>
	
	
	<!-- <bean id="myBookServiceImpl" 
		class="by.epam.library.service.impl.BookServiceImpl"/>
	<bean id="myUserServiceImpl" 
		class="by.epam.library.service.impl.UserServiceImpl"/>		
	<bean id="myServiceFactory"
			class="by.epam.library.service.factory.ServiceFactory">
			<property name="BookService" ref="myBookServiceImpl" />
			<property name="UserService" ref="myUserServiceImpl" />			
	</bean> -->
	
	
	<bean id="myDBResourceManager"
			class="by.epam.library.dao.DBconnection.manager.DBResourceManager">		
	</bean>
</beans>